* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  /* background-color: #242424; */
}
#block1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(84, 134, 251);
}
#block2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
#block3 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(79, 187, 255);
}
#block4 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 79, 255);
}
#block5 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 139, 144);
}
.a {
  height: 150px;
  width: 150px;
  background-color: blueviolet;
  border-radius: 30px;
}
.b {
  height: 150px;
  width: 150px;
  background-color: rgb(226, 43, 46);
  border-radius: 30px;
}
.c {
  height: 150px;
  width: 150px;
  background-color: rgb(23, 2, 130);
  border-radius: 30px;
}
