/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.page1 {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}
.page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(127, 255, 127);
}
.page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(127, 170, 255);
}
.square {
  height: 200px;
  width: 200px;
  background-color: crimson;
  position: absolute;
}
