@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
#page1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
#page2 {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px; */
  background-color: rgb(157, 179, 251);
}
#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(113, 144, 244);
}
#box {
  height: 200px;
  width: 200px;
  background-color: crimson;
}
/* #page2 h1 {
  font-size: 60px;
  position: relative;
  background-color: red;
} */
/* #page2 h2 {
  font-size: 40px;
  position: relative;
  background-color: yellow;
} */

#page2 h1 {
  font-size: 30vw;
  text-transform: uppercase;
  white-space: nowrap;
}
